ion-icon {
     color: var(--ion-color-tertiary) !important;
     border-radius: 50%;
     height: 35px;
     width: 35px;
}

.list-image {
     border-radius: 50%;
     height: 35px;
     width: 35px;
}