.card-image {
    margin: auto;
    height: 150px;
    width: 150px;
    border-radius: 20%;
}

.card-row {
    text-align: center !important;
}

.error {
    margin-left: 10px;
    font-size: 12px;
    font-style: italic;
    color: var(--ion-color-danger) !important;
    white-space: normal;
}

ion-input {
    --padding-start: 15px !important;
}

ion-item {
    div {
        font-weight: 500;
    }
// ion-button button {
//     background-color: var(--ion-color-tertiary);
// }
}