<ion-header>
  <ion-toolbar>
    <ion-title>{{employee.employee_name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content ion-padding>
  <form [formGroup]="empForm">
    <ion-card>
      <ion-row class="card-row">
        <ion-col col-12>
          <!-- Take from Camera OR Gallery  -->
          <ion-button color="tertiary" color="tertiary" button icon-left outline (click)="takeImage()" ion-padding>
            <ion-icon name="aperture" color="lightblue"></ion-icon>
            {{'select or take photo'}}
          </ion-button>
          <!-- <ion-icon *ngIf="!employee.profile_image" class="card-image"></ion-icon> -->
          <div *ngIf="employee.profile_image"> <img [src]="employee.profile_image.fileUrl" class="card-image" /> </div>

        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <div>
            {{'Edit employee details'}}
          </div>
          <ion-row>
            <ion-col col-12>
              <ion-item lines="none">
                <div>{{'ID'}}</div>
                <ion-input formControlName="id"> </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <ion-item lines="none">
                <div>{{'Name'}}</div>
                <ion-input required type="text" formControlName="employee_name">
                </ion-input>
              </ion-item>
              <!-- For Validation -->
              <div class="ion-text-wrap"
                *ngIf="empForm.get('employee_name').hasError('required') && (empForm.get('employee_name').touched || submitAttempt)">
                <div class="error">
                  {{'Employee name required'}}
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <ion-item lines="none">
                <div>{{'Salary'}}</div>
                <ion-input type="number" formControlName="employee_salary">
                </ion-input>
              </ion-item>
              <!-- For Validation -->
              <div class="ion-text-wrap"
                *ngIf="empForm.get('employee_salary').hasError('required') && (empForm.get('employee_salary').touched || submitAttempt)">
                <div class="error">
                  {{'Employee salary required'}}
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <ion-item lines="none">
                <div>{{'Age'}}</div>
                <ion-input type="number" formControlName="employee_age">
                </ion-input>
              </ion-item>
              <!-- For Validation -->
              <div class="ion-text-wrap"
                *ngIf="empForm.get('employee_age').hasError('required') && (empForm.get('employee_age').touched || submitAttempt)">
                <div class="error">
                  {{'Employee age required'}}
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </form>
  <ion-row style="float: right;">
    <div class="ion-padding">
      <ion-button color="tertiary" block ion-button (click)="resetForm(empForm)">{{'Reset'}}
      </ion-button>
    </div>

    <div class="ion-padding">
      <ion-button color="tertiary" block ion-button [disabled]="!empForm.valid"
        (click)="saveEmp(empForm.value,empForm.valid)">{{'Save'}}
      </ion-button>
    </div>
  </ion-row>
</ion-content>