<ion-header>
  <ion-toolbar>
    <ion-title>{{employee.employee_name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-grid>
      <ion-row class="card-row"> <ion-col col-4>
        <!-- <ion-icon *ngIf="employee.profile_image" class="card-image"></ion-icon>        
        <img *ngIf="!employee.profile_image" src="employee-management/src/assets/icon/favicon.png" class="card-image" /> -->
      </ion-col></ion-row>
      <ion-row> <ion-col col-4>
        <ion-item lines="none">
          {{'ID'}}:{{employee.id}}
        </ion-item>

      </ion-col></ion-row>
      <ion-row> <ion-col col-4>
        <ion-item lines="none">
          {{'Salary'}}:{{employee.employee_salary}}
        </ion-item>

      </ion-col></ion-row>
      <ion-row> <ion-col col-4>
        <ion-item lines="none">
          {{'Age'}}:{{employee.employee_age}}
        </ion-item>

      </ion-col></ion-row>
    </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
